.Brand img {
   width: 150px;
  height: 150px !important;
  cursor: pointer;
  margin-bottom: 15px;
}
.Brand {
  width: 250px;
  padding-top: 45px;
  position: relative;
  margin: 1px;
  justify-content: center;
  align-items: center;
}
.Brand h3 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.g-3.row {
  gap: 10px;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .Brand {
    width: 100%;
  }
}








